<div class="d-flex justify-content-center align-items-center login-style">
  <p class="credit-photo"><a target="_blank" href="https://unsplash.com/photos/9qYKMbBCFjc">Credit photo</a></p>
  <div class="card" style="background-color: #ffffff40;">
    <div class="card-header">
      <h3>Introduce tu nueva contraseña</h3>
    </div>
    <div class="card-body">
      <form #f="ngForm" action="" (ngSubmit)="onChangePassword()" novalidate>

        <div class="form-group">
          <label for="contraseña" class="text-center p-3">Contraseña</label>
          <input type="password" name="contraseña" required id="mailTo" [(ngModel)]="password" class="form-control">
        </div>

        <div class="form-group">
          <label for="confirmContraseña" class="text-center p-3">Confirm Contraseña</label>
          <input type="password" name="confirmContraseña" required id="confirmContraseña" [(ngModel)]="confirmPassword"
            class="form-control">
        </div>


        <div class="form-group mt-3 d-grid">
          <button class="btn btn-success btn-block" [disabled]="!f.valid">Cambiar contraseña</button>
        </div>


      </form>
      <div *ngIf="f.submitted && isSentOk" class="alert alert-danger mt-3">
        {{errMessage}}
      </div>
      <div *ngIf="hasErrors" class="alert alert-danger mt-3">
        {{errMessage}}
      </div>
    </div>
  </div>
</div>
