<div class="container-fluid " id="featured-3">
  <h2 class="pb-2 border-bottom">
    <span *ngIf="edit_mode;else noedit">Modificar</span>
    <ng-template #noedit>Añadir</ng-template>
    beneficiario

  </h2>
  <form [formGroup]="myForm" *ngIf="myForm" (ngSubmit)="addBeneficiario()" class="needs-validation">
    <div class="row   row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-xl-4">

      <div class="form-group  col">
        <label for="floatingInput">Nombre del beneficiario</label>
        <input type="text" class="form-control form-control-lg" formControlName="nombre_beneficiario" id="floatingInput"
               [ngClass]="{ 'is-invalid':  myForm.get('nombre_beneficiario').errors,'is-valid': !myForm.get('nombre_beneficiario').errors}">

        <div *ngIf="myForm.get('nombre_beneficiario').errors" class="invalid-feedback">
          <div *ngIf="myForm.get('nombre_beneficiario').hasError('required')">El nombre es obligatorio</div>
        </div>


      </div>

      <div class="form-group col">
        <label for="Dni">Dni</label>
        <input type="text" class="form-control form-control-lg" id="Dni" formControlName="dni">
      </div>

      <div class="form-group  col">
        <label for="documentos">Otros documentos</label>
        <input type="text" class="form-control form-control-lg" id="documentos" formControlName="otros_documentos">
      </div>

      <div class="form-group col">
        <label for="nacimiento">Fecha nacimiento</label>
        <input type="date" class="form-control form-control-lg" id="nacimiento" formControlName="fecha_nacimiento"
               [ngClass]="{ 'is-invalid':  myForm.get('fecha_nacimiento').errors,'is-fecha_nacimiento': !myForm.get('dni').errors}">
      </div>

      <div class="form-floating col">
        <label for="Numero">Numero adra</label>
        <input type="number" class="form-control form-control-lg" id="Numero" formControlName="numar_adra"
               [ngClass]="{ 'is-invalid':  myForm.get('numar_adra').errors,'is-valid': !myForm.get('numar_adra').errors}">

      </div>

      <div class="form-group col">
        <label for="Nacionalidad">Nacionalidad</label>
        <input type="text" class="form-control form-control-lg" id="Nacionalidad" formControlName="nacionalidad"
               [ngClass]="{ 'is-invalid':  myForm.get('nacionalidad').errors,'is-valid': !myForm.get('nacionalidad').errors}">

      </div>

      <div class="form-group col">
        <label for="Domicilio">Domicilio</label>
        <input type="text" class="form-control form-control-lg" id="Domicilio" formControlName="domicilio"
               [ngClass]="{ 'is-invalid':  myForm.get('domicilio').errors,'is-valid': !myForm.get('domicilio').errors}">

      </div>

      <div class="form-group col">
        <label for="Mensaje">Mensaje</label>
        <input type="text" class="form-control form-control-lg" id="Mensaje" formControlName="mensaje">

      </div>

      <div class="form-group col">
        <label for="Ciudad">Ciudad</label>
        <input type="text" class="form-control form-control-lg" id="Ciudad" formControlName="ciudad"
               [ngClass]="{ 'is-invalid':  myForm.get('ciudad').errors,'is-valid': !myForm.get('ciudad').errors}">

      </div>

      <div class="form-group col">
        <label for="Telefono">Telefono</label>
        <input type="number" class="form-control form-control-lg" id="Telefono" formControlName="telefono"
               [ngClass]="{ 'is-invalid':  myForm.get('telefono').errors,'is-valid': !myForm.get('telefono').errors}">

      </div>


      <div class="form-group col">
        <label for="sexo">Sexo</label>
        <select class="form-select form-select mb-3 form-control form-control-lg" id="sexo" formControlName="sexo"
                [ngClass]="{ 'is-invalid':  myForm.get('sexo').errors,'is-valid': !myForm.get('sexo').errors}">
          <option value="m" selected>Mujer</option>
          <option value="h">Hombre</option>
        </select>

      </div>


      <div class="form-group col">
        <label for="Domingo">Domingo</label>
        <select class="form-select form-select mb-3 form-control form-control-lg" id="Domingo"
                formControlName="categoria"
                [ngClass]="{ 'is-invalid':  myForm.get('categoria').errors,'is-valid': !myForm.get('categoria').errors}">
          <option value="2" selected>2</option>
          <option value="4">4</option>
        </select>

      </div>

      <div class="custom-control form-control-lg custom-checkbox form-group col-12">
        <input type="checkbox" class="custom-control-input   " id="papeles" formControlName="papeles">
        <label class="custom-control-label" for="papeles">Tiene papeles</label>
      </div>

      <div class="custom-control form-control-lg custom-checkbox  form-group col-12">
        <input type="checkbox" class="custom-control-input" id="Discapacidad" formControlName="discapacidad">
        <label class="custom-control-label" for="Discapacidad">Discapacidad</label>
      </div>

      <div class="custom-control form-control-lg custom-checkbox form-group col-12">
        <input type="checkbox" class="custom-control-input" id="entregas" formControlName="covid">
        <label class="custom-control-label" for="entregas">Covid entregas</label>
      </div>


      <div class="custom-control form-control-lg custom-checkbox form-group col">
        <input type="checkbox" class="custom-control-input" id="empadronamiento" formControlName="empadronamiento">
        <label class="custom-control-label" for="empadronamiento">Certificado de empadronamiento actualizado con fecha
          de
          menos de tres meses</label>
      </div>

      <div class="custom-control form-control-lg custom-checkbox form-group col-12">
        <input type="checkbox" class="custom-control-input" id="Libro" formControlName="fotocopia_libro_familia">
        <label for="Libro" class="custom-control-label">Fotocopia del Libro de Familia</label>
      </div>

      <div class="custom-control form-control-lg custom-checkbox form-group   col-12">
        <input type="checkbox" class="custom-control-input" id="pasaporte" formControlName="fotocopia_documentacion">
        <label for="pasaporte" class="custom-control-label">Fotocopia del DNI/NIE o pasaporte de todos los miembros del
          núcleo familiar</label>
      </div>

      <div class="custom-control form-control-lg custom-checkbox form-group col">
        <input type="checkbox" class="custom-control-input" id="prestación" formControlName="fotocopia_prestacion">
        <label for="prestación" class="custom-control-label">Fotocopia de la documentación que acredite de prestación,
          pensión, paro, etc</label>
      </div>

      <div class="custom-control form-control-lg custom-checkbox form-group col">
        <input type="checkbox" class="custom-control-input" id="nómina" formControlName="fotocopia_nomina">
        <label for="nómina" class="custom-control-label">Fotocopia de la nómina en caso de trabajar.</label>
      </div>

      <div class="custom-control form-control-lg custom-checkbox form-group col">
        <input type="checkbox" class="custom-control-input" id="certificado"
               formControlName="fotocopia_certificado_negativo">
        <label for="certificado" class="custom-control-label">En caso de no tener ingresos: certificado negativo de
          rentas, de la Agencia
          Tributaria.</label>
      </div>

      <div class="custom-control form-control-lg custom-checkbox form-group col">
        <input type="checkbox" class="custom-control-input" id="hipoteca" formControlName="fotocopia_recibo_propiedad">
        <label for="hipoteca" class="custom-control-label">Ultimo recibo alquiler o hipoteca de vivienda familiar en la
          que están
          empadronados</label>
      </div>

      <div class="custom-control form-control-lg custom-checkbox form-group col">
        <input type="checkbox" class="custom-control-input" id="gastos" formControlName="fotocopia_recibo_gastos">
        <label for="gastos" class="custom-control-label">Recibo de gastos básicos: luz, agua, gas, calefacción,
          comunidad y comedor escolar.</label>
      </div>


    </div>
    <div class="col-lg-12 col-12">
      <div class="row" *ngIf="edit_mode;else noedit">
        <div class="col" >
          <button (click)="cancel($event)" class="btn btn-dark  btn-lg btn-block"> Volver
          </button>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success  btn-lg btn-block">Modificar
          </button>
        </div>

      </div>
      <ng-template #noedit class="col">
        <button type="submit" class="btn btn-success  btn-lg btn-block">{{edit_mode ? "Modificar" : "Enviar"}}
        </button>
      </ng-template>

    </div>
  </form>
</div>
