<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Añadir beneficiario</h2>
  <form [formGroup]="myForm" (onSubmit)="addBeneficiario()">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="form-floating  col-md-4">
        <input type="text" class="form-control" id="floatingInput">
        <label for="floatingInput">Nombre del beneficiario</label>
      </div>

      <div class="form-floating col-md-4">
        <input type="text" class="form-control" id="Garbanzos">
        <label for="Garbanzos">Dni</label>
      </div>

      <div class="form-floating  col-md-4">
        <input type="text" class="form-control" id="Atún">
        <label for="Atún">Otros documentos</label>
      </div>

      <div class="form-floating col-md-4">
        <input type="datetime-local" class="form-control" id="Espagueti">
        <label for="Espagueti">Fecha nacimiento*</label>
      </div>
      
      <div class="form-floating col">
        <input type="number" class="form-control" id="Espagueti">
        <label for="Espagueti">Numero adra</label>
      </div>

      <div class="form-floating col">
        <input type="text" class="form-control" id="Espagueti">
        <label for="Espagueti">Nacionalidad</label>
      </div>

      <div class="form-floating col">
        <input type="text" class="form-control" id="Espagueti">
        <label for="Espagueti">Domicilio</label>
      </div>

      <div class="form-floating col">
        <input type="text" class="form-control" id="Espagueti">
        <label for="Espagueti">Mensaje</label>
      </div>

      <div class="form-floating col">
        <input type="text" class="form-control" id="Espagueti">
        <label for="Espagueti">Ciudad</label>
      </div>

      <div class="form-floating col-md-3">
        <input type="number" class="form-control" id="Espagueti">
        <label for="Espagueti">Telefono</label>
      </div>

     


      <div class="form-floating col-md-3">
        <select class="form-select form-select mb-3 form-control" id="sexo">
          <option value="m" selected>Mujer</option>
          <option value="h">Hombre</option>
        </select>
        <label for="sexo">Sexo</label>
      </div>


      <div class="form-floating col-md-3">
        <select class="form-select form-select mb-3 form-control" id="sexo">
          <option value="2" selected>2</option>
          <option value="4">4</option>
        </select>
        <label for="sexo">Domingo</label>
      </div>

      <div class="form-floating col-md-3">
        <input type="email" class="form-control" id="Espagueti">
        <label for="Espagueti">Email beneficiario</label>
      </div>

    
      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="empadronamiento">
        <label class="form-check-label"  for="empadronamiento">Tiene papeles</label>
      </div>

      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="empadronamiento">
        <label class="form-check-label"  for="empadronamiento">Discapacidad</label>
      </div>

      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="empadronamiento">
        <label class="form-check-label"  for="empadronamiento">Covid entregas</label>
      </div>
      
      
      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="empadronamiento">
        <label class="form-check-label"  for="empadronamiento">Certificado de empadronamiento actualizado con fecha de menos de tres meses</label>
      </div>
      
      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="Libro">
        <label for="Libro">Fotocopia del Libro de Familia</label>
      </div>

      <div class="form-check  col">
        <input type="checkbox" class="form-check-input" id="pasaporte">
        <label for="pasaporte">Fotocopia del DNI/NIE o pasaporte de todos los miembros del núcleo familiar</label>
      </div>

      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="prestación">
        <label for="prestación">Fotocopia de la documentación que acredite de prestación, pensión, paro, etc</label>
      </div>

      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="nómina">
        <label for="nómina">Fotocopia de la nómina en caso de trabajar.</label>
      </div>

      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="certificado">
        <label for="certificado">En caso de no tener ingresos: certificado negativo de rentas, de la Agencia Tributaria.</label>
      </div>

      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="hipoteca">
        <label for="hipoteca">Ultimo recibo alquiler o hipoteca de vivienda familiar en la que están empadronados</label>
      </div>
      
      <div class="form-check col">
        <input type="checkbox" class="form-check-input" id="gastos">
        <label for="gastos">Recibo de gastos básicos: luz, agua, gas, calefacción, comunidad y comedor escolar.</label>
      </div> 
      
      
      


      

    </div>
  </form>
</div>
