<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Añadir beneficiario</h2>
    <form [formGroup]="myForm" (onSubmit)="addAlimentos()">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  
        <div class="form-floating  col">
          <input type="number" class="form-control" id="floatingInput">
          <label for="floatingInput">Arroz Blanco</label>
        </div>
  
        <div class="form-floating col">
          <input type="number" class="form-control" id="Garbanzos">
          <label for="Garbanzos">Garbanzos Cocidos</label>
        </div>
  
        <div class="form-floating  col">
          <input type="number" class="form-control" id="Atún">
          <label for="Atún">Conserva De Atún</label>
        </div>
  
        <div class="form-floating col">
          <input type="number" class="form-control" id="Espagueti">
          <label for="Espagueti">Pasta Alimenticia Tipo Espagueti</label>
        </div>
        
        <div class="form-floating col">
          <input type="number" class="form-control" id="Espagueti">
          <label for="Espagueti">Tomate Frito En Conserva</label>
        </div>
  
        <div class="form-floating col">
          <input type="number" class="form-control" id="Espagueti">
          <label for="Espagueti">Galletas</label>
        </div>
  
        <div class="form-floating col">
          <input type="number" class="form-control" id="Espagueti">
          <label for="Espagueti">Macedonia De Verduras En Conserva</label>
        </div>
  
        <div class="form-floating col">
          <input type="number" class="form-control" id="Espagueti">
          <label for="Espagueti">Cacao Soluble</label>
        </div>
  
        <div class="form-floating col">
          <input type="number" class="form-control" id="Espagueti">
          <label for="Espagueti">Tarritos Infantiles Con Pollo</label>
        </div>
  
        <div class="form-floating col">
          <input type="number" class="form-control" id="Espagueti">
          <label for="Espagueti">Tarritos Infantiles De Fruta</label>
        </div>
  
        <div class="form-floating col">
          <input type="number" class="form-control" id="Espagueti">
          <label for="Espagueti">Leche Entera Uht</label>
        </div>
        
        <div class="form-floating col">
          <input type="number" class="form-control" id="Espagueti">
          <label for="Espagueti">Aceite De Oliva</label>
        </div>
  
        
  
      </div>
    </form>
  </div>
  